<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/Style/css/style.css" rel="stylesheet">
    <link href="/Style/css/Contact/style.css" rel="stylesheet">
    <link href="~/Style/type/puritan.css" rel="stylesheet"/>
</head>


<script type="text/javascript">
        $(function()
        {
            $('.GoHome').mousedown(function ()
            {
                window.location.href = "@Url.Action("Index","Home")";
            });
        });
</script>
<body>

        <div class="GoHome">
        <img  id="Home" src="~/Style/images/Home.jpg" style="width:30px;height:30px;"/> 
        </div>

        <div  style="padding: 50px;">
            @RenderBody()
        </div>

    </body>
</html>
