<!DOCTYPE html>

<html>


<head>
    <title>My Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="My Tours">
    <meta name="author" content="RajeevKanth Mohandas">
    <meta name="keywords" content="Brisbane, tours, chaffeur, trip, comfort">
   <link href="/css/modern.css" rel="stylesheet">
    <link href="/css/theme-dark.css" rel="stylesheet">
    <link href="/css/modern-responsive.css" rel="stylesheet">

</head>
    
    <body>
    @RenderSection("scripts", required: false) 
    @RenderBody()
    
</body>
 

</html > 
    