<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Style/css/style.css" rel="stylesheet">
    <link href="/Style/css/Contact/style.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
    <script src="/js/assets/jquery-1.8.2.min.js"></script>
    <script src="/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
    <body>
        <a href="/home/index">Home</a>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
