<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/Style/css/style.css" rel="stylesheet">
    <link href="/Style/css/Contact/style.css" rel="stylesheet">
    <link href="~/Style/type/puritan.css" rel="stylesheet"/>
</head>
<script type="text/javascript" src="~/Scripts/jquery-1.5.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.js"></script>
        <body>
        <a href="/home/index">Home</a>
        <div  style="padding: 100px;">
            @RenderBody()
        </div>
            @RenderSection("scripts", required: false)
    </body>
</html>
