<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Style/css/style.css" rel="stylesheet">
    <link href="/Style/css/Contact/style.css" rel="stylesheet">
    <link href="~/Style/type/puritan.css" rel="stylesheet"/>
<title>@ViewBag.Title</title>
<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.all.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.marquee.min.js"></script>
</head>

    <script src="/js/assets/jquery-1.8.2.min.js"></script>
    <script src="/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>
    <body>
        <a href="/home/index">Home</a>
        <div  style="padding: 100px;">
            @RenderBody()
        </div>
    </body>
</html>
