@{
    ViewBag.Title = "My Tour";
}

<script type="text/javascript">
    $(function ()
    {

        $('#About').mousedown(function () {
            navigate("/Home/About");
        });

        $('#Contact').mousedown(function () {
            navigate("/Home/Contact");
        });
        
        $('#User').mousedown(function () {
            navigate("/User/Index");
        });

        $('#Place').click(function (event) {
            event.preventDefault();
            navigate("/Place/Index");
        });

        $('#Bookings').click(function (event) {
            event.preventDefault();
            navigate("/Booking/Index");
        });

        function navigate(uri) {
            var options = {
                url: uri
            };
            $.ajax(options).done(function (data) {

                $('#slidingSection').fadeOut(1000,function() {
                    $('#slidingSection').replaceWith(data);
                    $('#slidingSection').fadeIn(1500);
                });

                
            });

        };

    });
        
</script>

<div id="slidingSection">
<div class="metrouicss">
    <div class="page secondary fixed-header">
        <div class="page-header ">
            <div class="page-header-content" id="User">
                <div class="user-login">
                    <a href="#">
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="name">
                                    <span class="first-name">@User.Identity.Name</span>
                                </div>
                               <div class="avatar">
                               <i class="icon-user fg-color-white"></i>
                              </div>
                            }
                            else
                            {
                                <div class="name">
                                    <span class="name">login</span>
                                </div>
                            }

                        }
                        
                    </a>
                </div>

                <h1 class="fg-color-white">My Tour</h1>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content tiles">
                <div class="tile-group tile-drag">
                    <div class="tile image" id="About">
                        <div class="tile-content">
                            <img src="/images/about-us.jpg" alt="">
                        </div>
                    </div>
            
                    <div class="tile icon">
                        <div class="tile-content center">
                            <h3 class="text-center fix">Why us?</h3>
                        </div>
                    </div>

       
                    <div class="tile bg-color-orangeDark icon">
                        <div class="tile-content">
                            <div class="name" style="padding: 10px;">Book a trip to Gold Coast and get 50 % off on 3 course Indian Lunch for two.</div>  
                        </div>
                        <div class="brand">
                            <span class="name">Todays Offer</span>
                        </div>
                    </div>
                
                    <div class="tile image" id="Contact">
                        <div class="tile-content">
                            <img src="/style/images/contact-us.jpg" alt="">
                        </div>
                    </div>

       
                    <div class="tile double bg-color-blueDark">
                        <div class="tile-content">
                            <img src="/images/michael.jpg" class="place-left"/>
                            <h3 style="margin-bottom: 5px;">vasu_iyer</h3>
                            <p>
                                Loved the experience.
                            </p>
                            <h5>Brisbane and Gold Coast</h5>

                        </div>
                        <div class="brand">
                            <span class="name">customer speak</span>
                        </div>
                    </div>
                    @*<div class="title double slider" data-role="tile-slider" data-param-period="6000" data-param-direction="top">
                    <div class="tile-content">
                        <img src="/images/michael.jpg" class="place-left"/>
                        <h3 style="margin-bottom: 5px;">michael</h3>
                        <p>
                            Loved the Experience..
                        </p>
                        <h5>Sunshine Coast and Brisbane</h5>

                    </div>
                     <div class="tile-content">
                        <img src="/images/michael.jpg" class="place-left"/>
                        <h3 style="margin-bottom: 5px;">michael</h3>
                        <p>
                            Loved the Experience..
                        </p>
                        <h5>Gold Coast and Mt:Tambourine</h5>

                    </div> 
                    <div class="brand">
                        <span class="name">Customers say</span>
                    </div>
                </div>*@

                    @*                    <div class="tile bg-color-darken icon">
                        <div class="tile-content">
                            <img src="images/YouTube128.png" alt="" />
                        </div>
                        <div class="brand">
                            <span class="name">YouTube</span>
                        </div>
                    </div>*@

                    <div class="tile double  bg-color-green" data-role="tile-slider" data-param-period="3000" data-param-direction="right">
                        <div class="tile-content">
                            <h2>Ekka</h2>
                            <h5>Ekka festival Brisbane.</h5>
                            <p>
                                Get ready to Enjoy Ekka with our great services                        </p>
                        </div>
                        <div class="tile-content">
                            <h2>Musical Fest</h2>
                            <h5>Surfers Paradise</h5>
                            <p>
                                Musical fest coming to Suferes paradise on June 20th.                        </p>
                        </div>
                        <div class="tile-content">
                            <h2>Flower Show</h2>
                            <h5>Mt:Tambourine</h5>
                            <p>
                                Flower show starts on May 1st</p>
                        </div>
                        <div class="brand">
                            <div class="badge"></div>
                            <span class="name">Upcoming Events</span>
                        </div>
                    </div>

                    <div class="tile double image-slider" data-role="tile-slider" data-param-period="5000" data-param-direction="down">
                        <div class="tile-content">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/2.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/4.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/images/5.jpg" alt="">
                        </div>
                    </div>

                    <div class="tile double bg-color-blueDark">
                        <div class="tile-content">
                            <h3 style="margin-bottom: 5px;">vasu_iyer</h3>
                            <p>
                                Loved the experience.
                            </p>
                            <h5>Brisbane and Gold Coast</h5>

                        </div>
                        <div class="brand">
                            <span class="name">customer speak</span>
                        </div>
                    </div>

                </div>

                @*            <div class="tile-group tile-drag">
                <div class="tile image outline-color-green">
                    <div class="tile-content">
                        <img src="/images/myface.jpg" alt="">
                    </div>
                </div>
            </div>*@

                <div class="tile-group tile-drag">
                
                    <div class="tile triple  image-set">
                        <div class="tile-content">
                            <img src="/style/images/art/SC1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/SSC2.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/SSC3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/TBR1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/TBR2.png" alt="">
                        </div>
                        <div class="brand">
                            <span class="name">Sun Shine coast</span>
                        </div>
                    </div>

                    <div class="tile triple image-set">
                        <div class="tile-content">
                            <img src="/style/images/art/GC1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/GC2.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/GC3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/GC4.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/GC5.jpg" alt="">
                        </div>
                        <div class="brand">
                            <span class="name">Gold Coast</span>
                        </div>
                    </div>

                    <div class="tile triple image-set">
                        <div class="tile-content">
                            <img src="/style/images/art/Brisbane1.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/Brisbane2.png" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/Brisbane3.jpg" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/Brisbane4.png" alt="">
                        </div>
                        <div class="tile-content">
                            <img src="/style/images/art/Brisbane5.png" alt="">
                        </div>
                        <div class="brand">
                            <span class="name">Brisbane</span>
                        </div>
                    </div>
                </div>

                @*  <div class="tile-group">
                <div class="tile double image">
                    <div class="tile-content">
                        <img src="/images/4.jpg" alt="" />
                    </div>
                    <div class="brand bg-color-orange">
                        <img class="icon" src="/images/Rss128.png"/>
                        <p class="text">This is a desert eagle. He is very hungry and angry bird.</p>
                        <div class="badge">10</div>
                    </div>
                </div>

                <div class="tile bg-color-blue icon">
                    <div class="tile-content">
                        <img src="/images/InternetExplorer128.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Internet Explorer</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="/images/excel2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Excel 2013</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="images/word2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Word 2013</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="images/onenote2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">OneNote 2013</span>
                    </div>
                </div>
            </div>

            <div class="tile-group tile-drag">
                <div class="tile double image">
                    <div class="tile-content">
                        <img src="/images/4.jpg" alt="" />
                    </div>
                    <div class="brand bg-color-orange">
                        <img class="icon" src="/images/Rss128.png"/>
                        <p class="text">This is a desert eagle. He is very hungry and angry bird.</p>
                        <div class="badge">10</div>
                    </div>
                </div>

                <div class="tile bg-color-blue icon">
                    <div class="tile-content">
                        <img src="/images/InternetExplorer128.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Internet Explorer</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="/images/excel2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Excel 2013</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="/images/word2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">Word 2013</span>
                    </div>
                </div>

                <div class="tile icon">
                    <div class="tile-content">
                        <img src="/images/onenote2013icon.png"/>
                    </div>
                    <div class="brand">
                        <span class="name">OneNote 2013</span>
                    </div>
                </div>
            </div>*@

                @*            <div class="tile-group">
                <div class="tile quadro double-vertical image-set">
                    <div class="tile-content">
                        <img src="/images/1.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <img src="/images/2.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <img src="/images/3.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <img src="/images/4.jpg" alt="">
                    </div>
                    <div class="tile-content">
                        <img src="/images/5.jpg" alt="">
                    </div>
                    <div class="brand">
                        <span class="name">Photos</span>
                    </div>
                </div>
            </div>*@
            </div>
        </div>
    </div>
</div>
</div>