@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section>
        <div >
            <hgroup class="title">
                <h2>Just Relax</h2>
            </hgroup>
            </div>
    </section>
}
