@{
    Layout = "/Views/Shared/_myTourContentLayout.cshtml";
    ViewBag.Title = "About us";
}
<div id="slidingSection">
<div id="header">
    <hgroup class="title">
    <h1>Create your own tours.</h1>
    <h2>Your way.</h2>
    </hgroup>

<article>
    <p>
         We are into a business of conducting customised or standard tours around the Southeast Queensland. Yes, you have read it correctly <b>“CUSTOMISED”</b> tours. <br>
         We value your time & money spent with us. We provide you with the opportunity to be in control of your tour and the way you wish to enjoy with your near & dear ones or colleagues.<br> 
         We are here to organise and assist you in experiencing an awesome time whether it is relaxation, doing activities or visiting scenic places around Southeast Queensland.<br> 
         Our service is also available for corporate entity to have business meeting with fun or team building tour or planning day away from the conventional board arena.<br>
         We are different from other tour providers. Our focus is to serve you and become part of your team to enhance your day filled with excitement and good times.<br> 
    </p>
    <p>
        Our approach: We discuss with you to understand how you wish to enjoy the day touring around.<br> 
        We help you plan and suggest as well. Based on agreed plan we estimate and provide you with the quote for the tour.<br>
         You can reach us through phone, chat and skype to discuss your next tour.<br>
         Experience our service to feel pampered and special. 
    </p>


</article>
 </div>
</div>