<div id="slidingSection">
<div id="header">
    <hgroup class="title">
    <h1>Thanks for registering your interest.</h1>
    <h2>One of our staffs will contact you at the earliest</h2>
    </hgroup>

<article>
    <p>
         In the mean time keep an eye on our facebook page for hot deals</p>
    


</article>
 </div>
</div>