@model dynamic

@{
    Layout = "/Views/Shared/_myTourContentLayout.cshtml";
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<div id="slidingSection">
    
    <div id="wrapper"> 
        <!-- Begin Content -->
        <div class="content">
            <p>Let's put some tiles here</p>
        </div>
    </div>

</div>