 <head>
     <title>test</title>
     <link rel="stylesheet" type="text/css" href="~/Style/css/style.css" media="all"/>
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
     <script src="https://raw.github.com/tobia/Pause/master/jquery.pause.js"></script>
     <script src="~/Scripts/jquery.marquee.min.js"></script>*@
 </head>
<script>
    $(function() {

        $('#picture').cycle({
            fx: 'shuffle',
            easing: 'easeOutBack',
            delay: -2000
        });
        $('#attractions').marquee({
            speed: 10000,
            gap: 50,
            delayBeforeStart: 0,
            direction: 'left',
            duplicated: true,
            //on hover pause the marquee - using jQuery plugin https://github.com/tobia/Pause
            pauseOnHover: true
        });
    });
</script>

<div id="slidingSection">
    <div id="header">
        <hgroup class="title">
            <h4>Bookings Open Now.</h4>
        </hgroup>
        <br />
    
        <div class="bookingballoon">
            <div id="holder">
                <div class="content">e
                <div id="picture">
                    <img width="150" height="160"  src="~/style/images/art/Brisbane1.jpg"  alt=""/>
                    <img width="150" height="160"  src="~/style/images/art/Brisbane2.png"  alt=""/>
                    <img width="150" height="160" src="~/style/images/art/Brisbane3.jpg"  alt=""/>
                    <img width="150" height="160" src="~/style/images/art/Brisbane4.png"  alt=""/>
                    <img width="150" height="160" src="~/style/images/art/Brisbane5.png"  alt=""/>
 
                </div>         
                <div id="description">
                    <h4>Brisbane Bitch</h4> 
                    <article>
                        <p>
                            Brisbane is a city for the senses;
                            Walking under impossibly blue skies around this foot-friendly city opens up a world of experiences.
                            A well planned series of paths and bridges connect the city centre to South Bank, 
                            as well as many of our urban villages that tease the river’s edge as it bends the city, its parks and gentle skyscrapers.
                        </p>
                    <br>    
                    <h5>Must see in Brisbane.</h5>  
                        
                    <div id="attractions">
                        <p>Kangaroo point |  South bank parklands | Lone pine kola sanctuary | Casino | Pubs | City cat ferry | Australia zoo |Cultural centre</p>
                    </div>
                    <input id="book" type="submit" name="submit" value="Book a Trip" />                        
                    </article>
                    </div>
                </div>
                </div>
            </div>
            </div>
            
        <br/>
        <br>
    
    
    
        <div id="Places">
            <select name="Places">
                <option value="Brisbane">Brisbane</option>
                <option value="Gold Coast">Gold Coast</option>
                <option value="SunShine Coast">SunShine Coast</option>
                <option value="Mt:Tambourine">Mt:Tambourine</option>
            </select>
        </div>
        </div>
    
   