@model MyTour.ViewModels.PlaceViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Place</title>
    <link rel="stylesheet" type="text/css" href="~/Style/Css/style.css" media="all" />
    <link rel="stylesheet" media="all" href="~/style/css/prettyPhoto.css" />
    <link rel="stylesheet" media="all" href="~/style/type/puritan.css" />

    <script type="text/javascript" src="~/Scripts/quicksand.js"></script>
    <script type="text/javascript" src="~/Scripts/portfolio.js"></script>
    <script type="text/javascript" src="~/Scripts/scripts.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script>

</head>
<body>
    <!-- Begin Wrapper -->
    <div id="slidingSection">
  <div id="wrapper">
    <div id="portfolio"> 
      <!-- Begin Portfolio Navigation -->
      <ul class="gallerynav">
        <li class="selected-1"><a href="#" data-value="all">All<span></span></a></li>
        <li><a href="#" data-value="Brisbane">Brisbane<span></span></a></li>
        <li><a href="#" data-value="GoldCoast">Gold Coast<span></span></a></li>
        <li><a href="#" data-value="SunShineCoast">Sunshine Coast<span></span></a></li>
        <li><a href="#" data-value="Tambourine">Mt Tambourine<span></span></a></li>
      </ul>
      <!-- End Portfolio Navigation --> 
      
      <!-- Begin Portfolio Elements -->
      <ul id="gallery" class="grid">
        
        <!-- Begin Image 1 -->
        <li data-id="id-1" class="GoldCoast"> <a href="~/style/images/art/GC5.jpg" rel="prettyPhoto[gallery]"> <img src="~/style/images/art/GC5.jpg" alt="" /></a> </li>
        <!-- End Image 1 -->
        
        <li data-id="id-2" class="Brisbane"> <a href="~/style/images/art/Brisbane1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/Brisbane1.jpg" alt="" /></a> </li>
        <li data-id="id-3" class="SunShineCoast"> <a href="~/style/images/art/SSC1.png" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/SSC1.png" alt="" /></a> </li>
        <li data-id="id-4" class="Tambourine"> <a href="~/style/images/art/TBR1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="style/images/art/TBR1.jpg" alt="" /></a> </li>
        <li data-id="id-5" class="GoldCoast"> <a href="~/~/style/images/art/GC1.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/GC1.jpg" alt="" /></a> </li>
        <li data-id="id-6" class="Brisbane"> <a href="~/style/images/art/Brisbane2.png" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/Brisbane2.png" alt="" /></a> </li>
        <li data-id="id-7" class="SunShineCoast"> <a href="~/style/images/art/SSC2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/SSC2.jpg" alt="" /></a> </li>
        <li data-id="id-8" class="Tambourine"> <a href="~/style/images/art/TBR2.png" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/TBR2.png" alt="" /></a> </li>
        <li data-id="id-9" class="Brisbane"> <a href="~/style/images/art/Brisbane3.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/Brisbane3.jpg" alt="" /></a> </li>
        <li data-id="id-10" class="GoldCoast"> <a href="~/style/images/art/GC2.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/GC2.jpg" alt="" /></a> </li>
        <li data-id="id-11" class="SunShineCoast"> <a href="~/style/images/art/SSC3.jpg" rel="prettyPhoto[gallery] 500 900" title=""> <img src="~/style/images/art/SSC3.jpg" alt="" /></a> </li>
        <li data-id="id-12" class="Tambourine"> <a href="~/style/images/art/TBR3.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/TBR3.jpg" alt="" /></a> </li>
        <li data-id="id-13" class="GoldCoast"> <a href="~/style/images/art/GC3.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/GC3.jpg" alt="" /></a> </li>
        <li data-id="id-14" class="Brisbane"> <a href="~/style/images/art/Brisbane4.png" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/Brisbane4.png" alt="" /></a> </li>
        <li data-id="id-15" class="GoldCoast"> <a href="~/style/images/art/GC4.jpg" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/GC4.jpg" alt="" /></a> </li>
        <li data-id="id-16" class="Brisbane"> <a href="~/style/images/art/Brisbane5.png" rel="prettyPhoto[gallery]" title=""> <img src="~/style/images/art/Brisbane5.png" alt="" /></a> </li>
      </ul>
      <!-- End Portfolio Elements --> 
      
    </div>
  </div>
  </div>
</body>
</html>
